body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    
}
.button{
    height: 70px;
    width: 200px;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid yellow;

}